*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
/*---头部---*/
.nav{

	width: 1200px;
	height: 77px;
	margin:0 auto;
}
.nav img:first-child{
	float: left;
	margin-top: 35px;
	margin-right: 19px;
	display: inline-block;
}
.nav img:last-child{
	
	float: left;
	margin-top: 47px;
	display: inline-block;
}
.nav p{
	display: inline-block;
	margin-top:55px;
	margin-left: 202px;
	font-family: '微软雅黑';
	font-size: 22px;
	font-weight: Regular;
	color: rgb( 11, 65, 153 );
}
.nav ul{
	display: inline-block;
	margin-left: 3px;
}
.nav ul li:first-child{
	font-size: 16px;
	font-family: '微软雅黑';
	font-weight: Regular;
	color: #7d7d7d;
	float: left;
}
.nav ul li{
	font-family: 'Arial';
	font-size: 16px;
	font-weight: Regular;
	color: #ef2c34;
	margin-left: 21px;
	float: left;
}
.nav ul li:last-child{
	font-size: 16px;
	font-family: '微软雅黑';
	font-weight: Regular;
	color: #7d7d7d;
	float: left;
}
.nav-1{
	height: 50px;
	width: 1200px;
	padding-top: 28px;
	margin: 0 auto;
}
.nav-1 ul li:first-child{

	float: left;
	margin-top: 17px;
	margin-right: 18px;
	margin-left: 0px;

}
.nav-1 ul li{

	float: left;
	margin-top: 17px;
	margin-left: 52px;

}
.nav-1 ul li div{

	width: 102px;
	height: 50px;
	background-color: #2756a4;
}
.nav-1 ul li div p{

	text-align: center;
	color: #ffffff;
	padding-top: 17px;

}
.nav-2{

	width: 252px;
	height: 39px;
	background-color: #ebeaea;
	float: right;
	margin-bottom: 5px;
}
.nav-2 p{

	margin-left: 10px;
	margin-top: 11px;
	float: left;
	font-size: 15px;
	font-family:'微软雅黑';
	font-weight: Regular;
	color: #5c5f61;
}
.nav-2 img{

	float: right;
	margin-right: 16px;
	margin-top: 9px;
}
/*---标题---*/

.title{

	width: 100%;
	height: 202px;
	background-color: #f9f9f9;
}
.title-1{

	width: 1200px;
	height: 103px;
	margin: 0 auto;
}
.title-1 p{

	margin-top: 22px;
	font-size: 14px;
	font-family: '微软雅黑';
	font-weight: Regular;
	float: left;
}
.title-1 p a{

	color: #999999;
}
.title-2 {

	height: 64px;
	width: 1200px;
	margin: 0 auto;
	border-bottom: 1px dotted #e3e3e3;
}
.title-2 li:first-child{ 
	font-size: 24px;
	font-family: '微软雅黑';
	font-weight: Regular;
	color: #3e3e3e;
}
.title-2 li{
	font-size: 14px;
	font-family: '微软雅黑';
	font-weight: Regular;
	color: #666666;
	margin-top: 4px;
}
/*--内容--*/
.main{

	height: 1843px;
	width: 100%;
	background-color: #f9f9f9;
}
.main-0{

	width: 1200px;
	height: 1843px;
	margin: 0 auto;
}
.main-1{

	width: 1200px;
	height: 560px;
	background-color: #ffffff;
}
.main-1-1{

	width: 1160px;
	height: 64px;
	margin-left: 20px;
}
.main-1-1 li p:last-child{

	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: regular;	
	float: left;
	margin-top: 26px;
}
.main-1-1 li p a{

	color: #2756a4;
}
.main-1-1 li p{

	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: regular;	
	float: right;
	margin-top: 26px;
}

.main-1-2{
	width: 1160px;
	height: 234px;
	margin:0 auto;
}
.main-1-2-1{
	width: 419px;
	height: 233px;
	float: left;

}
.main-1-2-2{

	width: 716px;
	height: 233px;
	float: left;
	margin-left: 23px;
}
.main-1-2-2 li p:first-child{

	margin-top: 34px;
	font-size: 20px;
	font-family: '微软雅黑';
	font-weight: bold;
	color: #1b1b1b;
}
.main-1-2-2 li p{
	margin-top: 32px;
	font-family: '微软雅黑';
	font-weight: regular;
	font-size: 16px;
	color: #434343;
	text-align: left;
	line-height: 1.7em;
}
.main-1-2-2 li a{
	float: right;
	font-size: 14px;
  	font-family: "Microsoft YaHei";
  	color: rgb( 237, 28, 36 );
  	margin-top: 28px;
}
.main-1-3{

	height: 265px;
	width: 1160px;
	margin: 0 auto;
}
.main-1-3-1{

	height: 265px;
	width: 700px;
	float: left;
}
.main-1-3-1 p:first-child{

	float: left;
	margin-top: 37px;
	font-size: 16px;
    font-family: "Microsoft YaHei";
    color: rgb( 67, 67, 67 );
}
.main-1-3-1 p{
	float: left;
	margin-top: 31px;
	font-size: 16px;
    font-family: "Microsoft YaHei";
    color: rgb( 67, 67, 67 );
}
.main-1-3-2{

	float: right;
	width: 67px;
	height: 265px;
}
.main-1-3-2 p:first-child{

	float: left;
	margin-top: 41px;
	font-size: 12px;
	font-family: '微软雅黑';
	color: rgb( 135, 135, 135 );
}
.main-1-3-2 p{

	float: left;
	margin-top: 37px;
	font-size: 12px;
	font-family: '微软雅黑';
	color: rgb( 135, 135, 135 );
}
.main-2{

	width: 1200px;
	height: 560px;
	background-color: #ffffff;	
	margin-top: 31px;
}
.main-2-1{

	width: 1160px;
	height: 64px;
	margin-left: 20px;
}
.main-2-1 li p:last-child{

	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: regular;	
	float: left;
	margin-top: 26px;
}
.main-2-1 li p a{

	color: #2756a4;
}
.main-2-1 li p{

	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: regular;	
	float: right;
	margin-top: 26px;
}

.main-2-2{
	width: 1160px;
	height: 234px;
	margin:0 auto;
}
.main-2-2-1{
	width: 419px;
	height: 233px;
	float: left;

}
.main-2-2-2{

	width: 716px;
	height: 233px;
	float: left;
	margin-left: 23px;
}
.main-2-2-2 li p:first-child{

	margin-top: 34px;
	font-size: 20px;
	font-family: '微软雅黑';
	font-weight: bold;
	color: #1b1b1b;
}
.main-2-2-2 li p{
	margin-top: 32px;
	font-family: '微软雅黑';
	font-weight: regular;
	font-size: 16px;
	color: #434343;
	text-align: left;
	line-height: 1.7em;
}
.main-2-2-2 li a{
	float: right;
	font-size: 14px;
  	font-family: "Microsoft YaHei";
  	color: rgb( 237, 28, 36 );
  	margin-top: 28px;
}
.main-2-3{

	height: 265px;
	width: 1160px;
	margin: 0 auto;
}
.main-2-3-1{

	height: 265px;
	width: 655px;
	float: left;
}
.main-2-3-1 p:first-child{

	float: left;
	margin-top: 37px;
	font-size: 16px;
    font-family: "Microsoft YaHei";
    color: rgb( 67, 67, 67 );
}
.main-2-3-1 p{
	float: left;
	margin-top: 31px;
	font-size: 16px;
    font-family: "Microsoft YaHei";
    color: rgb( 67, 67, 67 );
}
.main-2-3-2{

	float: right;
	width: 67px;
	height: 265px;
}
.main-2-3-2 p:first-child{

	float: left;
	margin-top: 41px;
	font-size: 12px;
	font-family: '微软雅黑';
	color: rgb( 135, 135, 135 );
}
.main-2-3-2 p{

	float: left;
	margin-top: 37px;
	font-size: 12px;
	font-family: '微软雅黑';
	color: rgb( 135, 135, 135 );
}
.main-3{

	width: 1200px;
	height: 560px;
	background-color: #ffffff;
	margin-top: 31px;
}
}
.main-3-1{

	width: 1160px;
	height: 64px;
	margin-left: 20px;
}
.main-3-1 li p:last-child{

	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: regular;	
	float: left;
	margin-top: 26px;
}
.main-3-1 li p a{

	color: #2756a4;
}
.main-3-1 li p{

	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: regular;	
	float: right;
	margin-top: 26px;
}

.main-3-2{
	width: 1160px;
	height: 234px;
	margin:0 auto;
}
.main-3-2-1{
	width: 419px;
	height: 233px;
	float: left;

}
.main-3-2-2{

	width: 716px;
	height: 233px;
	float: left;
	margin-left: 23px;
}
.main-3-2-2 li p:first-child{

	margin-top: 34px;
	font-size: 20px;
	font-family: '微软雅黑';
	font-weight: bold;
	color: #1b1b1b;
}
.main-3-2-2 li p{
	margin-top: 32px;
	font-family: '微软雅黑';
	font-weight: regular;
	font-size: 16px;
	color: #434343;
	text-align: left;
	line-height: 1.7em;
}
.main-3-2-2 li a{
	float: right;
	font-size: 14px;
  	font-family: "Microsoft YaHei";
  	color: rgb( 237, 28, 36 );
  	margin-top: 28px;
}
.main-3-3{

	height: 265px;
	width: 1160px;
	margin: 0 auto;
}
.main-3-3-1{

	height: 265px;
	width: 655px;
	float: left;
}
.main-3-3-1 p:first-child{

	float: left;
	margin-top: 37px;
	font-size: 16px;
    font-family: "Microsoft YaHei";
    color: rgb( 67, 67, 67 );
}
.main-3-3-1 p{
	float: left;
	margin-top: 31px;
	font-size: 16px;
    font-family: "Microsoft YaHei";
    color: rgb( 67, 67, 67 );
}
.main-3-3-2{

	float: right;
	width: 67px;
	height: 265px;
}
.main-3-3-2 p:first-child{

	float: left;
	margin-top: 41px;
	font-size: 12px;
	font-family: '微软雅黑';
	color: rgb( 135, 135, 135 );
}
.main-3-3-2 p{

	float: left;
	margin-top: 37px;
	font-size: 12px;
	font-family: '微软雅黑';
	color: rgb( 135, 135, 135 );
}
/*--尾部--*/
.footert{
	height:60px; 
	width:100%;
	background: #0b4199;
}
.foott{
	height: 60px;
	width: 1200px;
	margin: 0 auto;
}
.footerb{
	height:307px; 
	width:100%;
	background: #454545;
}
.footb{
	height: 307px;
	width: 1200px;
	margin: 0 auto;
}
.tel{
	float: left;
	margin-top: 17px;
}
.phone{
	float: left;
	margin-top: 19px;
	margin-left: 11px;
	font-family: 微软雅黑 Regular;
	font-size: 18px;
	color: #ffffff;
}
.luntan{
	float: left;
	margin-left: 162px;
	margin-top: 17px;
}
.lt{
	float: left;
	margin-top: 20px;
	margin-left: 11px;
	font-family: 微软雅黑 Regular;
	font-size: 16px;
	color: #ffffff;
}
.other{
	float: left;
	margin-top: 20px;
	margin-left: 486px;
	font-family: 微软雅黑 Regular;
	font-size: 16px;
	color: #ffffff;
}
.foott li{
	float: right;
	margin-top: 13px;
	margin-left: 16px;
}
.footb ul{
	float: left;
	margin-right: 80px;
	padding-top: 60px;
}
.footb li a{
	font-family: 微软雅黑 Regular;
	font-size: 14px;
	color: #ffffff;
}
.footb li:first-child{
	margin-bottom: 24px;
	font-family: 微软雅黑 Regular;
	font-size: 16px;
	color: #ffffff;
}
.address{
	float: left;
	border-left: solid 1px #ffffff/*#525252*/;
	height: 198px;
	width: 306px;
	margin-top: 60px;
}
.address img{
	margin-left: 34px;
}
.address>.tit{
	margin-left: 32px;
	font-family: 微软雅黑 Regular;
	font-size: 14px;
	color: #ffffff;
}
.qingdao{
	float: left;
	width: 50px;
	margin-left: 32px;
	margin-top: 30px;
}
.qingdao p{
	font-family: 微软雅黑 Regular;
	font-size: 14px;
	color: #ffffff;
}
.qd{
	float: right;
	margin-top: 30px;
	width: 212px;
	height: 48px;
}
.qd p{
	font-family: 微软雅黑 Regular;
	font-size: 12px;
	color: #ffffff;
}
.bf{
	float: right;
	width: 212px;
	height: 48px;
}
.bf p{
	font-family: 微软雅黑 Regular;
	font-size: 12px;
	color: #ffffff;
}
.finally{
	width: 1200px;
	height: 18px;
}
.ov1{
	padding-top: 280px;
	margin-left: 130px;
	font-family: 微软雅黑 Regular;
	font-size: 12px;
	color: #ffffff;
}
.ov2 {
	margin-left: 142px;
}
.ov3 {
	margin-left: 8px;
}
.ov1 a{
	font-family: 微软雅黑 Regular;
	font-size: 12px;
	color: #ffffff;
}
/*--漂浮--*/
.piaofu{
	width: 86px;
	height: 311px;
	position: fixed;
	top: 292px;
	right: 30px;
	z-index: 10;
}
.piaofu .tops{
	width: 86px;
	height: 82px;
	margin: 0 auto;
	background: #8d8d8d;
	text-align: center;
	font: 14px '微软雅黑';
	color: #fff;
	border-bottom: 1px dashed #fff;
}
.piaofu .tops img{
	padding-top: 10px;
}
.piaofu .middle{
	width: 86px;
	height: 82px;
	margin: 0 auto;
	background: #b0b0b0;
	text-align: center;
	font: 14px '微软雅黑';
	color: #fff; 
	border-bottom: 1px dashed #fff;
}
.piaofu .middle img{
	padding-top: 10px;
}
.piaofu .mid{
	width: 86px;
	height: 82px;
	margin: 0 auto;
	background: #b0b0b0;
	text-align: center;
	font: 14px '微软雅黑';
	color: #fff;
	border-bottom: 1px dashed #fff;
}
.piaofu .mid img{
	padding-top: 10px;
}
.piaofu .bottom{
	width: 86px;
	height: 65px;
	background: #b0b0b0;
	position: relative;
}
.piaofu .bottom img{
	padding-top: 22px;
	padding-left: 28px;
}
.piaofu .bottom p{
	padding-top: 10px;
	text-align: center;
	font: 10px '微软雅黑';
	color: #fff;
}
.piaofu .bottom .bot{
	width: 86px;
	height: 14px;
	background: #8d8d8d;
	position: absolute;
	bottom: 0px;
	opacity: 0.5;
}